Repository 0xBEEFCAF3/trezor-firmware, changes with the owners that CODEOWNERS names for each.
All owners: @tsusanka, @prusnak, @matejcik, @andrewkozlik, @onvej-sl

CODEOWNERS:

/ci @tsusanka

/common/defs @prusnak @matejcik

/common/protob @tsusanka @matejcik

/core/embed @prusnak

/core/src/apps/webauthn @andrewkozlik

/core/src/storage @andrewkozlik

/core/src/trezor @tsusanka @matejcik

/core/tests @tsusanka

/core/tools @matejcik

/crypto @andrewkozlik @onvej-sl @prusnak

/docs @tsusanka

/legacy @prusnak

/python @matejcik

/storage @andrewkozlik

/tests @tsusanka @matejcik

/vendor @prusnak

Allow eth & btc signing at m/45'/coin_type/account/change/address_index
  core/src/apps/bitcoin/keychain.py
  core/src/apps/common/paths.py
  core/src/apps/ethereum/keychain.py
Owners: none

Add BIP46 multisig test vector
  tests/device_tests/bitcoin/test_nonstandard_paths.py
Owners: @tsusanka, @matejcik

refactor(core): Allow eth & btc signing at m/45'/[0-1000000]/[0-1000000]/[0-1]/[0-1000000]
  core/src/apps/bitcoin/keychain.py
  core/src/apps/common/paths.py
  core/src/apps/ethereum/keychain.py
  core/src/apps/ethereum/networks.py
  core/src/apps/ethereum/tokens.py
  tests/device_tests/bitcoin/test_nonstandard_paths.py
Owners: @tsusanka, @matejcik

docs(core): changelog for 2.5.3
  core/.changelog.d/2213.fixed.1
  core/.changelog.d/2289.added
  core/.changelog.d/2366.added
  core/.changelog.d/2398.added
  core/.changelog.d/2414.added
  core/.changelog.d/2427.added
  core/.changelog.d/2442.added
  core/.changelog.d/2445.added
  core/.changelog.d/2453.fixed
  core/.changelog.d/2486.changed
  core/.changelog.d/2487.changed
  core/.changelog.d/2507.added
  core/.changelog.d/2561.added
  core/.changelog.d/2570.changed
  core/.changelog.d/2577.added
  core/.changelog.d/262.added
  core/CHANGELOG.md
Owners: none

chore(common): update chains and tokens
  common/defs/coins_details.json
  common/defs/duplicity_overrides.json
  common/defs/support.json
  core/src/apps/ethereum/networks.py
  core/src/apps/ethereum/tokens.py
  tests/ui_tests/fixtures.json
  tools/check-bitcoin-only
Owners: @prusnak, @matejcik, @tsusanka

chore(common): update chains and tokens
  common/defs/coins_details.json
  common/defs/duplicity_overrides.json
  common/defs/support.json
  core/src/apps/ethereum/networks.py
  core/src/apps/ethereum/tokens.py
  tests/ui_tests/fixtures.json
  tools/check-bitcoin-only
Owners: @prusnak, @matejcik, @tsusanka

chore(common): Remove unstable flag from AuthorizeCoinJoin.
  common/protob/messages.proto
Owners: @tsusanka, @matejcik

feat(tests): Do not automatically enable experimental features in device tests.
  tests/ui_tests/fixtures.json
Owners: @tsusanka, @matejcik

chore(common): Rename "unstable" protobuf tag to "experimental_message".
  common/protob/messages.proto
Owners: @tsusanka, @matejcik

chore(core/ui): delete unused arguments to layouts
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/ui/model_tt/component/hold_to_confirm.rs
  core/embed/rust/src/ui/model_tt/component/page.rs
  core/embed/rust/src/ui/model_tt/layout.rs
  core/embed/rust/src/ui/model_tt/theme.rs
  core/mocks/generated/trezorui2.pyi
  core/src/apps/bitcoin/get_ownership_proof.py
  core/src/apps/bitcoin/sign_tx/layout.py
  core/src/apps/cardano/helpers/credential.py
  core/src/apps/cardano/layout.py
  core/src/apps/common/passphrase.py
  core/src/apps/common/request_pin.py
  core/src/apps/common/sdcard.py
  core/src/apps/debug/__init__.py
  core/src/apps/eos/actions/layout.py
  core/src/apps/eos/layout.py
  core/src/apps/ethereum/layout.py
  core/src/apps/management/apply_settings.py
  core/src/apps/management/change_wipe_code.py
  core/src/apps/management/get_next_u2f_counter.py
  core/src/apps/management/reboot_to_bootloader.py
  core/src/apps/management/recovery_device/__init__.py
  core/src/apps/management/recovery_device/layout.py
  core/src/apps/management/reset_device/layout.py
  core/src/apps/management/set_u2f_counter.py
  core/src/apps/management/wipe_device.py
  core/src/apps/misc/get_ecdh_session_key.py
  core/src/apps/monero/layout.py
  core/src/apps/nem/layout.py
  core/src/apps/nem/mosaic/layout.py
  core/src/apps/nem/transfer/layout.py
  core/src/apps/ripple/layout.py
  core/src/apps/stellar/layout.py
  core/src/apps/tezos/layout.py
  core/src/apps/webauthn/add_resident_credential.py
  core/src/trezor/ui/layouts/tr/__init__.py
  core/src/trezor/ui/layouts/tt_v2/__init__.py
Owners: @prusnak, @andrewkozlik, @tsusanka, @matejcik

feat(core/ui): implement all layouts raising NotImplementedError
  core/src/trezor/ui/layouts/tt_v2/__init__.py
  core/src/trezor/ui/layouts/tt_v2/webauthn.py
Owners: @tsusanka, @matejcik

feat(python): add debuglink helpers to get layout information
  python/src/trezorlib/debuglink.py
Owners: @matejcik

chore(tests): fix click, upgrade and persistence tests for new UI
  core/src/trezor/ui/layouts/tt_v2/recovery.py
  docs/tests/click-tests.md
  tests/buttons.py
  tests/click_tests/recovery.py
  tests/click_tests/reset.py
  tests/click_tests/test_autolock.py
  tests/click_tests/test_lock.py
  tests/click_tests/test_recovery.py
  tests/click_tests/test_reset_slip39_advanced.py
  tests/click_tests/test_reset_slip39_basic.py
  tests/device_handler.py
  tests/persistence_tests/test_safety_checks.py
  tests/persistence_tests/test_shamir_persistence.py
  tests/persistence_tests/test_wipe_code.py
  tests/upgrade_tests/__init__.py
  tests/upgrade_tests/test_firmware_upgrades.py
  tests/upgrade_tests/test_passphrase_consistency.py
Owners: @tsusanka, @matejcik

chore(tests): make all the device tests work with UI2
  core/embed/rust/src/ui/model_tt/layout.rs
  core/mocks/generated/trezorui2.pyi
  tests/device_tests/bitcoin/test_authorize_coinjoin.py
  tests/device_tests/bitcoin/test_bcash.py
  tests/device_tests/bitcoin/test_bgold.py
  tests/device_tests/bitcoin/test_dash.py
  tests/device_tests/bitcoin/test_decred.py
  tests/device_tests/bitcoin/test_getaddress_show.py
  tests/device_tests/bitcoin/test_komodo.py
  tests/device_tests/bitcoin/test_multisig.py
  tests/device_tests/bitcoin/test_multisig_change.py
  tests/device_tests/bitcoin/test_op_return.py
  tests/device_tests/bitcoin/test_signmessage.py
  tests/device_tests/bitcoin/test_signtx.py
  tests/device_tests/bitcoin/test_signtx_external.py
  tests/device_tests/bitcoin/test_signtx_payreq.py
  tests/device_tests/bitcoin/test_signtx_segwit.py
  tests/device_tests/bitcoin/test_signtx_segwit_native.py
  tests/device_tests/bitcoin/test_signtx_taproot.py
  tests/device_tests/bitcoin/test_zcash.py
  tests/device_tests/ethereum/test_signtx.py
  tests/device_tests/nem/test_signtx_transfers.py
  tests/device_tests/reset_recovery/test_recovery_bip39_dryrun.py
  tests/device_tests/reset_recovery/test_recovery_bip39_t2.py
  tests/device_tests/test_protection_levels.py
  tests/device_tests/test_sdcard.py
  tests/device_tests/zcash/test_sign_tx.py
  tests/ui_tests/fixtures.json
Owners: @prusnak, @tsusanka, @matejcik

feat(tests): add dashboards with indexed unique screens and all screens
  tests/conftest.py
  tests/ui_tests/__init__.py
  tests/ui_tests/reporting/html.py
  tests/ui_tests/reporting/report_master_diff.py
  tests/ui_tests/reporting/testreport.py
Owners: @tsusanka, @matejcik

chore(core/ui): delete altcoin.py file
  core/SConscript.firmware
  core/SConscript.unix
  core/src/all_modules.py
  core/src/apps/binance/layout.py
  core/src/apps/bitcoin/sign_tx/layout.py
  core/src/apps/ethereum/layout.py
  core/src/apps/ripple/layout.py
  core/src/trezor/ui/layouts/altcoin.py
  core/src/trezor/ui/layouts/tt_v2/altcoin.py
Owners: @tsusanka, @matejcik

chore(python): better static typing for debuglink and emulator
  python/src/trezorlib/_internal/emulator.py
  python/src/trezorlib/debuglink.py
Owners: @matejcik

fix(core/ui): show fee rate in confirm_total
  core/src/trezor/ui/layouts/tt_v2/__init__.py
  tests/ui_tests/fixtures.json
Owners: @tsusanka, @matejcik

feat(rust): expose micropython lists as slices
  core/embed/rust/build.rs
  core/embed/rust/src/micropython/list.rs
Owners: @prusnak

fix(core/rust): fix success animation
  core/embed/rust/src/ui/display/mod.rs
Owners: @prusnak

feat(legacy): bootloader with v3 SignMessage signatures + signatures debug
  legacy/Makefile.include
  legacy/bootloader/.changelog.d/2568.added
  legacy/bootloader/bootloader.c
  legacy/bootloader/firmware_align.py
  legacy/bootloader/usb.c
  legacy/debug_signing/README.md
  legacy/debug_signing/fill_t1_fw_signatures.py
  legacy/debug_signing/firmware_hash_sign_trezor.py
  legacy/debug_signing/firmware_hash_verify.py
  legacy/debug_signing/sign_firmware_v2_signature.py
  legacy/firmware/.changelog.d/2568.added
  legacy/firmware/fsm_msg_common.h
  legacy/fw_signatures.c
  legacy/fw_signatures.h
Owners: @prusnak

chore(legacy): typos and style
  legacy/fw_signatures.c
  legacy/fw_signatures.h
Owners: @prusnak

feat(core): change display type for model R
  core/SConscript.boardloader
  core/SConscript.bootloader
  core/SConscript.bootloader_ci
  core/SConscript.firmware
  core/SConscript.prodtest
  core/SConscript.reflash
  core/SConscript.unix
  core/embed/bootloader/bootui.c
  core/embed/bootloader/main.c
  core/embed/extmod/modtrezorui/buffers.h
  core/embed/extmod/modtrezorui/display.h
  core/embed/extmod/modtrezorui/display_defs.h
  core/embed/extmod/modtrezorui/display_interface.h
  core/embed/firmware/main.c
  core/embed/prodtest/main.c
  core/embed/rust/build.rs
  core/embed/rust/trezorhal.h
  core/embed/trezorhal/boards/trezor_1.h
  core/embed/trezorhal/boards/trezor_r_v3.h
  core/embed/trezorhal/boards/trezor_r_v4.h
  core/embed/trezorhal/boards/trezor_t.h
  core/embed/trezorhal/button.c
  core/embed/trezorhal/displays/st7789v.c
  core/embed/trezorhal/displays/st7789v.h
  core/embed/trezorhal/displays/ug-2828tswig01.c
  core/embed/trezorhal/displays/ug-2828tswig01.h
  core/embed/trezorhal/displays/vg-2864ksweg01.c
  core/embed/trezorhal/displays/vg-2864ksweg01.h
  core/embed/unix/board-unix.h
  core/embed/unix/display-unix.c
  core/embed/unix/display-unix.h
  core/site_scons/tools.py
Owners: @prusnak

fix(core/rust): improve & document safety of slice operations
  core/embed/rust/build.rs
  core/embed/rust/src/error.rs
  core/embed/rust/src/micropython/list.rs
Owners: @prusnak

fix(core/embed): better clamping of coordinates
  core/embed/extmod/modtrezorui/display.c
Owners: @prusnak

feat(core/rust/ui): expose text_max_height and baseline
  core/embed/rust/src/ui/display/mod.rs
Owners: @prusnak

refactor(core/rust/ui): redesign Label to make use of TextLayout machinery
  core/embed/rust/src/ui/component/label.rs
  core/embed/rust/src/ui/component/mod.rs
  core/embed/rust/src/ui/model_tr/component/result_popup.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/mnemonic.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/passphrase.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/pin.rs
  core/embed/rust/src/ui/model_tt/theme.rs
Owners: @prusnak

chore(core/rust/ui): workaround for "re-enter wipe code"
  core/embed/rust/src/ui/model_tt/component/keyboard/pin.rs
Owners: @prusnak

feat(core/ui): drop UI1 remnats
  core/src/apps/debug/__init__.py
  core/src/trezor/ui/__init__.py
  core/src/trezor/ui/components/__init__.py
  core/src/trezor/ui/components/common/__init__.py
  core/src/trezor/ui/layouts/tt_v2/__init__.py
Owners: @tsusanka, @matejcik

feat(core/ui): drop T1 UI (fixes #2639)
  core/SConscript.firmware
  core/SConscript.unix
  core/src/all_modules.py
  core/src/trezor/ui/layouts/__init__.py
  core/src/trezor/ui/layouts/t1.py
Owners: @tsusanka, @matejcik

fix(core): fix display blinking by increasing backlight pwm frequency
  core/.changelog.d/2595.changed
  core/embed/boardloader/.changelog.d/2595.changed
  core/embed/bootloader/.changelog.d/2595.changed
  core/embed/trezorhal/common.c
  core/embed/trezorhal/displays/st7789v.c
  core/embed/trezorhal/displays/st7789v.h
Owners: @prusnak

feat(core/rust/ui): on-the-fly conversion of bytes to hexadecimal representation
  core/embed/rust/build.rs
  core/embed/rust/src/micropython/buffer.rs
  core/embed/rust/src/micropython/obj.rs
  core/embed/rust/src/ui/component/text/paragraphs.rs
  core/embed/rust/src/ui/layout/util.rs
  core/embed/rust/src/ui/model_tt/layout.rs
  core/mocks/generated/trezorui2.pyi
  core/src/trezor/ui/layouts/tt_v2/__init__.py
Owners: @prusnak, @tsusanka, @matejcik

fix(core/rust/ui): no hyphens when breaking monospace lines
  core/embed/rust/src/ui/component/text/layout.rs
  core/embed/rust/src/ui/component/text/mod.rs
  core/embed/rust/src/ui/model_tt/component/page.rs
  core/embed/rust/src/ui/model_tt/theme.rs
  tests/device_tests/bitcoin/test_getaddress_show.py
  tests/device_tests/bitcoin/test_signmessage.py
  tests/ui_tests/fixtures.json
Owners: @prusnak, @tsusanka, @matejcik

chore(tests): drop unused UI fixtures
  tests/ui_tests/fixtures.json
Owners: @tsusanka, @matejcik

feat(core/rust): special shape erase button
  core/assets/back_btn.png
  core/assets/back_btn_tall.png
  core/embed/rust/src/ui/component/image.rs
  core/embed/rust/src/ui/display/mod.rs
  core/embed/rust/src/ui/model_tr/component/result_popup.rs
  core/embed/rust/src/ui/model_tt/component/button.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/mnemonic.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/passphrase.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/pin.rs
  core/embed/rust/src/ui/model_tt/res/back_btn.toif
  core/embed/rust/src/ui/model_tt/res/back_btn_tall.toif
  core/embed/rust/src/ui/model_tt/theme.rs
  tests/ui_tests/fixtures.json
Owners: @prusnak, @tsusanka, @matejcik

feat(core/ethereum, legacy/ethereum): add support to Ledger Live legacy derivation path
  common/tests/fixtures/ethereum/getaddress.json
  common/tests/fixtures/ethereum/getpublickey.json
  common/tests/fixtures/ethereum/sign_tx.json
  common/tests/fixtures/ethereum/sign_tx_eip155.json
  common/tests/fixtures/ethereum/sign_tx_eip1559.json
  core/.changelog.d/1749.added
  core/src/apps/common/paths.py
  core/src/apps/ethereum/keychain.py
  core/tests/test_apps.ethereum.keychain.py
  docs/misc/coins-bip44-paths.md
  legacy/firmware/.changelog.d/1749.added
  legacy/firmware/ethereum.c
  tests/ui_tests/fixtures.json
Owners: @tsusanka, @prusnak, @matejcik

feat(core/rust/ui): support ask_pagination flag in confirm_blob
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/ui/component/paginated.rs
  core/embed/rust/src/ui/display/mod.rs
  core/embed/rust/src/ui/model_t1/layout.rs
  core/embed/rust/src/ui/model_tr/layout.rs
  core/embed/rust/src/ui/model_tt/component/page.rs
  core/embed/rust/src/ui/model_tt/layout.rs
  core/embed/rust/src/ui/model_tt/theme.rs
  core/mocks/generated/trezorui2.pyi
  core/src/trezor/ui/layouts/tt_v2/__init__.py
  tests/device_tests/ethereum/test_signtx.py
  tests/ui_tests/fixtures.json
Owners: @prusnak, @tsusanka, @matejcik

refactor(core/rust): support for StrBuffer slicing
  core/embed/rust/src/micropython/buffer.rs
  core/embed/rust/src/ui/component/text/paragraphs.rs
  core/embed/rust/src/ui/layout/util.rs
  core/embed/rust/src/ui/model_tr/component/result_popup.rs
  core/embed/rust/src/ui/model_tt/component/dialog.rs
  core/embed/rust/src/ui/model_tt/component/number_input.rs
  core/embed/rust/src/ui/model_tt/component/page.rs
  core/embed/rust/src/ui/model_tt/layout.rs
Owners: @prusnak

fix(core/rust/ui): handle very long scrollbars on Model T
  core/assets/scroll-active.png
  core/assets/scroll-inactive-half.png
  core/assets/scroll-inactive-quarter.png
  core/assets/scroll-inactive.png
  core/embed/rust/src/ui/model_tt/component/page.rs
  core/embed/rust/src/ui/model_tt/component/scroll.rs
  core/embed/rust/src/ui/model_tt/res/scroll-active.toif
  core/embed/rust/src/ui/model_tt/res/scroll-down.toif
  core/embed/rust/src/ui/model_tt/res/scroll-inactive-half.toif
  core/embed/rust/src/ui/model_tt/res/scroll-inactive-quarter.toif
  core/embed/rust/src/ui/model_tt/res/scroll-inactive.toif
  core/embed/rust/src/ui/model_tt/res/scroll-up.toif
  core/embed/rust/src/ui/model_tt/theme.rs
  tests/ui_tests/fixtures.json
Owners: @prusnak, @tsusanka, @matejcik

feat(core): CoSi collective signatures
  core/.changelog.d/450.added
  core/src/all_modules.py
  core/src/apps/cardano/helpers/paths.py
  core/src/apps/common/paths.py
  core/src/apps/misc/cosi_commit.py
  core/src/apps/workflow_handlers.py
  core/src/storage/cache.py
  tests/device_tests/misc/test_cosi.py
  tests/ui_tests/fixtures.json
Owners: @andrewkozlik, @tsusanka, @matejcik
