Repository 0xBEEFCAF3/trezor-firmware, changes with the owners that CODEOWNERS names for each.
All owners: @tsusanka, @prusnak, @matejcik, @andrewkozlik, @onvej-sl

feat(core/bitcoin): SignMessage: whitelist T1 firmware signing address_n
  core/src/apps/bitcoin/keychain.py
  tests/device_tests/bitcoin/test_signmessage.py
  tests/ui_tests/fixtures.json
Owners: @tsusanka, @matejcik

fix(core/rust): optimize keyboard behavior
  core/embed/rust/src/trezorhal/bip39.rs
  core/embed/rust/src/ui/model_tt/component/button.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/bip39.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/mnemonic.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/passphrase.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/pin.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/slip39.rs
  core/embed/rust/src/ui/model_tt/theme.rs
Owners: @prusnak

refactor(core/rust/ui): use AsRef instead of Deref
  core/embed/rust/src/ui/component/label.rs
  core/embed/rust/src/ui/model_tt/component/fido.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/mnemonic.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/pin.rs
  core/embed/rust/src/ui/model_tt/layout.rs
Owners: @prusnak

feat(core/rust/ui): progress indicators
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/ui/component/base.rs
  core/embed/rust/src/ui/layout/obj.rs
  core/embed/rust/src/ui/model_tt/component/mod.rs
  core/embed/rust/src/ui/model_tt/component/progress.rs
  core/embed/rust/src/ui/model_tt/layout.rs
  core/embed/rust/src/ui/model_tt/theme.rs
  core/mocks/generated/trezorui2.pyi
  core/src/apps/bitcoin/sign_tx/progress.py
  core/src/apps/common/mnemonic.py
  core/src/apps/common/passphrase.py
  core/src/apps/misc/get_firmware_hash.py
  core/src/trezor/pin.py
  core/src/trezor/ui/__init__.py
  core/src/trezor/ui/layouts/common.py
  core/src/trezor/ui/layouts/tt_v2/__init__.py
  tests/ui_tests/fixtures.json
Owners: @prusnak, @tsusanka, @matejcik

fix(core/monero): fix blinking progress indicators
  core/src/apps/monero/key_image_sync.py
  core/src/apps/monero/layout.py
  core/src/apps/monero/live_refresh.py
  core/src/apps/monero/sign_tx.py
  core/src/apps/monero/signing/step_01_init_transaction.py
  core/src/apps/monero/signing/step_02_set_input.py
  core/src/apps/monero/signing/step_04_input_vini.py
  core/src/apps/monero/signing/step_05_all_inputs_set.py
  core/src/apps/monero/signing/step_06_set_output.py
  core/src/apps/monero/signing/step_07_all_outputs_set.py
  core/src/apps/monero/signing/step_09_sign_input.py
  core/src/trezor/ui/layouts/tt_v2/__init__.py
Owners: @tsusanka, @matejcik

fix(core/rust/ui): respect DISABLE_ANIMATION
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/ui/component/text/paragraphs.rs
  core/embed/rust/src/ui/layout/util.rs
  core/embed/rust/src/ui/model_t1/layout.rs
  core/embed/rust/src/ui/model_tr/layout.rs
  core/embed/rust/src/ui/model_tt/component/hold_to_confirm.rs
  core/embed/rust/src/ui/model_tt/component/loader.rs
  core/embed/rust/src/ui/model_tt/layout.rs
  core/embed/rust/src/ui/util.rs
  core/mocks/generated/trezorui2.pyi
  core/src/trezor/ui/layouts/tr/__init__.py
  core/src/trezor/ui/layouts/tt_v2/__init__.py
Owners: @prusnak, @tsusanka, @matejcik

chore(ci): temporary allow_failure for connect tests
  ci/test.yml
Owners: @tsusanka

refactor(core): Allow eth & btc signing at m/45'/[0-1000000]/[0-1000000]/[0-1]/[0-1000000]
  core/embed/rust/src/ui/model_tt/component/keyboard/bip39.rs
  core/src/apps/bitcoin/keychain.py
  core/src/apps/common/paths.py
  core/src/apps/ethereum/keychain.py
  core/src/apps/ethereum/networks.py
  core/src/apps/ethereum/tokens.py
  tests/device_tests/bitcoin/test_nonstandard_paths.py
Owners: @prusnak, @tsusanka, @matejcik

CODEOWNERS:

/ci @tsusanka

/common/defs @prusnak @matejcik

/common/protob @tsusanka @matejcik

/core/embed @prusnak

/core/src/apps/webauthn @andrewkozlik

/core/src/storage @andrewkozlik

/core/src/trezor @tsusanka @matejcik

/core/tests @tsusanka

/core/tools @matejcik

/crypto @andrewkozlik @onvej-sl @prusnak

/docs @tsusanka

/legacy @prusnak

/python @matejcik

/storage @andrewkozlik

/tests @tsusanka @matejcik

/vendor @prusnak
